<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Medilab Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!--MERI CSS FILE-->
  <link href="assets/css/blogstyle.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">contact@example.com</a>
        <i class="bi bi-phone"></i> +1 5589 55488 55
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto" style="padding-right: 25px;"><a href="index.html">DermaticaAI</a></h1>
     
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <!-- <li><a class="nav-link scrollto active" href="#hero">AI skin disease detector</a></li>
          <li><a class="nav-link scrollto active" href="#about"></a>HealthFeeds</li> -->
          <li><a class="nav-link scrollto" href="#">Recommended products</a></li>
          <li><a class="nav-link scrollto" href="#">HealthFeeds</a></li>
          <li><a class="nav-link scrollto" href="#">AI skin disease detector</a></li>
          <li><a class="nav-link scrollto" href="/healthfeed2">Next</a></li>
          <li class="dropdown"><a href="#"><span>More Options</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/aboutorvision">About Us</a></li>
              <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a> -->
                <!-- <ul> -->
                  <li><a href="#doctors">Our Doctors</a></li>
                  <li><a href="#contact">Contact Us</a></li>
                  <li><a href="/aboutorvision">Our Vision</a></li>
                  <!-- <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li> -->
                <!-- </ul> -->
              </li>
              <!-- <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li> -->
            </ul>
          </li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make an</span> Appointment</a>

    </div>
  </header><!-- End Header -->



  <main id="main">

    <!-- ======= Why Us Section ======= -->

    <br>
    <br>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">
        <br>
        <br>

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <!-- <div class="slideshow-container">
              <div class="slide fade">
                <img src="assets/img/image1.jpg" alt="Slide 1">
              </div>
              <div class="slide fade">
                <img src="assets/img/image2.jpg" alt="Slide 2">
              </div>
              <div class="slide fade">
                <img src="assets/img/image3.jpg" alt="Slide 3">
              </div>
            </div>
            <script>let slideIndex = 0;
              showSlides();
              
              function showSlides() {
                let i;
                const slides = document.getElementsByClassName("slide");
                for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";  
                }
                slideIndex++;
                if (slideIndex > slides.length) {slideIndex = 1}    
                slides[slideIndex-1].style.display = "block";  
                setTimeout(showSlides, 1500); // Change image every 2 seconds
              }</script> -->
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h1 style="color:#1977cc">This Week's Blogs</h1>
            <br>
            <div class="blogContent"><h3>The Complete Guide to Treating Acne</h3>
              <p class="Author"> - By Dr. ABC</p>
            <p>Acne is a common skin condition that affects millions of people worldwide, regardless of age or gender. It can be a source of frustration and embarrassment, impacting self-esteem and confidence. However, with the right approach and treatment, acne can be effectively managed and controlled. In this comprehensive guide, we'll explore various strategies and remedies for treating acne and achieving clear, healthy skin.</p>
            </div>
            <br>
            <br>
            <div class="blogContent">
            <h3>Unveiling the Secrets of Moisturizers: Your Skin's Best Friend</h3>
            <p class="Author"> - By Dr. XYZ</p>
            <p> Welcome to the world of skincare, where moisturizers reign supreme as the unsung heroes of your daily routine. In this blog, we delve into the depths of moisturizers, exploring their importance, how they work, and why they're essential for maintaining healthy, radiant skin. Whether you're a skincare novice or a seasoned enthusiast, join us on this journey to discover the secrets of moisturizers and unlock the key to a hydrated, glowing complexion.</p>
            </div>
            <br>
            <br>
            <div class="blogContent">
            <h3>Unlocking the Beauty of Skincare: Why Your Skin Deserves Your Care</h3>
            <p class="Author"> - By Dr. LMN</p>
            <p>Welcome to the realm of skincare, where science meets self-care to nurture the largest organ of your body: your skin. In this blog, we delve into the importance of skincare and why dedicating time and attention to your skin's health is more than just a beauty trend—it's a crucial aspect of self-love and well-being. Join us as we explore the reasons why skincare matters and how investing in a skincare routine can transform not only your complexion but also your confidence and overall health.</p>
            </div>
           
        </div>

      </div>

        </section>

        <footer id="footer">

          <div class="footer-top">
            <div class="container">
              <div class="row">
      
                <div class="col-lg-3 col-md-6 footer-contact">
                  <h3>DermaticaAI</h3>
                  <p>
                    B8, Suvalsar Hostel, <br>
                    North Campus, IIT Mandi<br>
                    India <br><br>
                    <strong>Phone:</strong> +1 5589 55488 55<br>
                    <strong>Email:</strong> info@example.com<br>
                  </p>
                </div>
      
                <div class="col-lg-2 col-md-6 footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                  </ul>
                </div>
      
                <div class="col-lg-3 col-md-6 footer-links">
                  <h4>Our Services</h4>
                  <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">AI model for disease identification</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">HealthFeeds</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Recommended Products</a></li>
                    <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
                  </ul>
                </div>
      
                <div class="col-lg-4 col-md-6 footer-newsletter">
                  <h4>Join Our Newsletter</h4>
                  <p>
                    Stay informed with dermaticaAI's newsletter! Get the latest skincare tips, product updates, and exclusive offers delivered straight to your inbox. Subscribe now!</p>
                  <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribe">
                  </form>
                </div>
      
              </div>
            </div>
          </div>
      
          <div class="container d-md-flex py-4">
      
            <div class="me-md-auto text-center text-md-start">
              <div class="copyright">
                &copy; Copyright <strong><span>DermaticaAI</span></strong>. All Rights Reserved
              </div>
              <div class="credits">
                
               
              </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </footer><!-- End Footer -->

    
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>