<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Medilab Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Medilab
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">contact@example.com</a>
        <i class="bi bi-phone"></i> +1 5589 55488 55
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto" style="padding-right: 25px;"><a href="index.html">DermaticaAI</a></h1>
     
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <!-- <li><a class="nav-link scrollto active" href="#hero">AI skin disease detector</a></li>
          <li><a class="nav-link scrollto active" href="#about"></a>HealthFeeds</li> -->
          <li><a class="nav-link scrollto" href="#">Recommended products</a></li>
          <li><a class="nav-link scrollto" href="#">HealthFeeds</a></li>
          <li><a class="nav-link scrollto" href="#">AI skin disease detector</a></li>
          <li class="dropdown"><a href="#"><span>More Options</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">About Us</a></li>
              <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a> -->
                <!-- <ul> -->
                  <li><a href="#doctors">Our Doctors</a></li>
                  <li><a href="#contact">Contact Us</a></li>
                  <li><a href="#">Our Vision</a></li>
                  <!-- <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li> -->
                <!-- </ul> -->
              </li>
              <!-- <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li> -->
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/logorsign">Login/Signup</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make an</span> Appointment</a>

    </div>
  </header><!-- End Header -->
<br>
<br>
<br>
    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>Some SkinCare Products</h2>
          <p>Skincare products encompass a diverse range of formulations tailored to cleanse, nourish, and protect the skin. From moisturizers to serums, these products aim to promote skin health, address specific concerns, and enhance one's natural complexion.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/HairOil.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <a href=https://www.amazon.com/Loreal-Elvive-Extraordinary-LOreal-Paris/dp/B0083H8ASG/ref=sr_1_2?crid=1XTLSUJUGAVEG&keywords=loreal+elvive&qid=1707667014&sprefix=loreal+elvive%2Caps%2C370&sr=8-2><h4>Hair Oil X</h4></a>
                <span>$5</span>
                <p>Experience the ultimate hair transformation with our luxurious hair oil. Infused with nourishing botanicals, it revitalizes dull strands, promotes shine, and leaves your hair irresistibly silky-smooth. Unlock radiant beauty today!</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/Shampoo.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
               <a href="https://www.amazon.com/Luseta-Keratin-Smooth-Shampoo-Infused/dp/B07JDDZV28/ref=sr_1_1_sspa?crid=GE5JS1X7N1AZ&keywords=keratin+luseta+shampoo&qid=1707666783&sprefix=keratin+luset+shampoo%2Caps%2C316&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"> <h4>Shampoo And Hair Conditioner X</h4></a>
                <span>$17.23</span>
                <p>Experience the ultimate hair transformation with our luxurious shampoo and conditioner duo. Infused with nourishing botanicals and essential oils, our formula gently cleanses and deeply hydrates, leaving hair silky smooth and irresistibly shiny. Say goodbye to dullness and hello to vibrant, manageable locks. Elevate your hair care routine today!</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/FaceWash.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
               <a href="https://www.amazon.com/Loreal-Elvive-Extraordinary-LOreal-Paris/dp/B0083H8ASG/ref=sr_1_2?crid=1XTLSUJUGAVEG&keywords=loreal+elvive&qid=1707667014&sprefix=loreal+elvive%2Caps%2C370&sr=8-2"> <h4>FaceWash X</h4></a>
                <span>$6</span>
                <p>Indulge in a refreshing cleanse with our invigorating face wash. Formulated with gentle yet effective ingredients, it deeply purifies pores, removes impurities, and revitalizes skin. Say hello to a radiant complexion as it unveils your natural glow. Start your day feeling refreshed and rejuvenated with our revitalizing face wash.</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/Moisturiser.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <a href="https://www.amazon.com/LOreal-Paris-Skincare-Revitalift-Smoother/dp/B00AQX87M4/ref=sr_1_3?crid=2ENZFOVVZIS6M&keywords=loreal+revitalift+miracle+blur&qid=1707667231&sprefix=loreal+revitalift+miracle+blu%2Caps%2C305&sr=8-3"><h4>Moisturizer Y</h4></a>
                <span>$3</span>
                <p>Indulge your skin with our hydrating moisturizer. Formulated with enriching ingredients, it replenishes moisture, smoothens texture, and restores your skin's natural radiance for a soft, supple complexion all day long.</p>
                
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Doctors Section -->
    <footer id="footer">

      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>DermaticaAI</h3>
              <p>
                B8, Suvalsar Hostel, <br>
                North Campus, IIT Mandi<br>
                India <br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
            </div>
  
            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">AI model for disease identification</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">HealthFeeds</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Recommended Products</a></li>
                <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
              </ul>
            </div>
  
            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Join Our Newsletter</h4>
              <p>
                Stay informed with dermaticaAI's newsletter! Get the latest skincare tips, product updates, and exclusive offers delivered straight to your inbox. Subscribe now!</p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit" value="Subscribe">
              </form>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container d-md-flex py-4">
  
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>DermaticaAI</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            
           
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </footer><!-- End Footer -->
    

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>